DATABASE_URL=mongodb+srv://robelalemayehu838_db_user:OGVH36ZbRRLTaDgk@cluster0.38lujwq.mongodb.net/?appName=Cluster0

JWT_SECRET=

# Cloudinary Integration (Image Uploads)
CLOUDINARY_URL=

# Frontend Configuration
NEXT_PUBLIC_API_URL=
